
  .logo {
    padding: 16px;
  }
  .section-hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url("../images/hero-bg.jpg");
  }
  .svg-block {
    display: none;
  }
  .section-features {
    padding: 96px 0;
  }
  .features-item {
    width: 100%;
  }
  .features-list {
    flex-direction: column;
  }
  .features-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
  }
  .team-list {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .profession {
    font-weight: 400;
  }
  .section-team {
    padding: 96px 0;
  }
  .section-portfolio {
    padding: 96px 0;
  }
  .portfolio-image-wrapper {
    width: 288px;
  }
  .footer {
    padding: 96px 0;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  .footer-left {
    text-align: center;
  }
  .footer-text-left {
    text-align: left;
  }
  .footer-middle,
  .footer-right {
    margin: 72px 0 0 0;
    text-align: center;
  }
  .footer-form-row {
    flex-direction: column;
  }

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .section-hero {
    padding: 112px;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url("../images/hero-bg.jpg");
  }
  .menu-btn {
    display: none;
  }
  .nav {
    display: flex;
  }
  .address {
    display: flex;
  }
  .menu-btn {
    display: none;
  }
  .header-addres-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .features-title {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-image-wrapper {
    width: 360px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
    padding-left: 108px;
  }
  .footer-left {
    text-align: left;
    width: 264px;
  }
  .footer-middle {
    margin: 0;
    text-align: left;
    width: 208px;
  }
  .footer-right {
    width: 453px;
    margin: 0;
  }
  .text-subscribe {
    text-align: start;
  }
  .footer-form-row {
    flex-direction: row;
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url("../images/hero-bg@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .mobile-overlay .overlay {
    transform: translateY(0);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .nav {
    display: flex;
  }
  .section-hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url("../images/hero-bg.jpg");
  }
  .menu-btn {
    display: none;
  }
  .svg-block {
    display: flex;
  }
  .features-list {
    flex-wrap: nowrap;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .footer .container {
    padding-left: 0;
    justify-content: space-between;
  }
  .footer-middle {
    margin-left: 120px;
  }
}
@media screen and (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url("../images/hero-bg@2x.jpg");
  }
}
